<h1><%= @restaurant.name %></h1>

<ul>
  <li>Address: <%= @restaurant.address %></li>
  <li>Type: <%= @restaurant.category %></li>
  <li>Call: <%= @restaurant.phone_number %></li>
  <li>Where ? <%= @restaurant.address %></li>
</ul>

<%= link_to '👈 Go back to main page', restaurants_path %>
